.icon-10-ft:before { content: '\e800'; } /* '' */
.icon-aluminum:before { content: '\e801'; } /* '' */
.icon-arrow-bottom:before { content: '\e802'; } /* '' */
.icon-arrow-left:before { content: '\e803'; } /* '' */
.icon-arrow-right:before { content: '\e804'; } /* '' */
.icon-arrow-top:before { content: '\e805'; } /* '' */
.icon-binoculars:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e807'; } /* '' */
.icon-check:before { content: '\e808'; } /* '' */
.icon-close:before { content: '\e809'; } /* '' */
.icon-file:before { content: '\e80a'; } /* '' */
.icon-frameless:before { content: '\e80b'; } /* '' */
.icon-furniture:before { content: '\e80c'; } /* '' */
.icon-half-tall:before { content: '\e80d'; } /* '' */
.icon-half-thick:before { content: '\e80e'; } /* '' */
.icon-joints:before { content: '\e80f'; } /* '' */
.icon-lead-times:before { content: '\e810'; } /* '' */
.icon-leed:before { content: '\e811'; } /* '' */
.icon-loudspeaker:before { content: '\e812'; } /* '' */
.icon-news:before { content: '\e813'; } /* '' */
.icon-planet:before { content: '\e814'; } /* '' */
.icon-pos-horizontal:before { content: '\e815'; } /* '' */
.icon-pos-vertical:before { content: '\e816'; } /* '' */
.icon-power:before { content: '\e817'; } /* '' */
.icon-recessed:before { content: '\e818'; } /* '' */
.icon-scratch-resist:before { content: '\e819'; } /* '' */
.icon-seams:before { content: '\e81a'; } /* '' */
.icon-seismic-approved:before { content: '\e81b'; } /* '' */
.icon-sound-privacy:before { content: '\e81c'; } /* '' */
.icon-tax:before { content: '\e81d'; } /* '' */
.icon-tiles:before { content: '\e81e'; } /* '' */
.icon-transition:before { content: '\e81f'; } /* '' */
.icon-vr:before { content: '\e820'; } /* '' */
.icon-warranty:before { content: '\e821'; } /* '' */
.icon-face-man:before { content: '\e822'; } /* '' */
.icon-pin:before { content: '\e823'; } /* '' */
.icon-recycle:before { content: '\e824'; } /* '' */
.icon-tower:before { content: '\e825'; } /* '' */
.icon-date:before { content: '\e826'; } /* '' */
.icon-time:before { content: '\e827'; } /* '' */
.icon-sound-absorption:before { content: '\e828'; } /* '' */
.icon-sound-masking:before { content: '\e829'; } /* '' */
