// button
.btn-secondary {
  background-color: $alur-primary-color !important;
  color: $brand-primary !important;
  border: none !important;
  outline: transparent;
  box-shadow: unset;
  padding: 14px 20px !important;
  font-size: 0.9rem !important;
  line-height: 1.2 !important;
  letter-spacing: .4px !important;
  font-weight: 600 !important;

  &:hover, &:active, &:focus {
    background-color: $dark-grey !important;
    border-color: $dark-grey1;
  }
}
.btn-primary {
  color: white !important;
  background-color: $brand-primary !important;
  border-color: $brand-primary !important;
  transition: all .3s ease!important;
  padding: 10px 32px !important;
  &:hover, &:active, &:focus{
    background-color: $dark-blue !important;
  }
}

.btn-success {
  background-color: $alur-green !important;
  color: $alur-primary-color !important;
  outline: none !important;
  border: none !important;
  outline: transparent;
  box-shadow: unset;

  &:hover, &:active, &:focus {
    background-color: $alur-green1 !important;
    border-color: $alur-green2;
  }
}

.btn-default {
  background-color: $brand-primary;
  color: $alur-primary-color;
  padding: 6px 34px;
  border-radius: 4px;
  &:hover {
    color: $alur-primary-color;
  }
}

// UP, Down, Right, Left arrow icon
i {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

// X button icon
.accordion-item {
  a {
    position: relative;
    display: flex;
    font-weight: 300;
    line-height: 1;
    color: $brand-primary;
    &:after {
      position: absolute;
      right: 0;
      top: 18%;
      display: block;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      content: "-";
      color: $brand-primary;
      transition: .3s ease transform;
    }
    &.collapsed {
      &:after {
        content: "+";
      }
      color: $alur-light-grey;
    }
  }
}

.scroll-fade-in {
  transition: all 1s ease;
}
.scroll-fade-up {
  transition: all 1.5s ease;
}
/* Typography */
body{
  font-family: "akkurat", sans-serif !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-200 {
  font-weight: 200 !important;
}

.bg-lightblue {
  background-color: $lightblue-bg;
}

/* Slick dots */
.slick-dots li {
  margin:0 !important;
  button:before{
    font-size: 10px !important;
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 320px) {
  h1, .h1 {
    font-size: 1.8rem !important;
  } /*1rem = 16px*/
  .h1-lg {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 200;
  }
}
@media (min-width: 544px) {
  h1, .h1 {
    font-size: 1.8rem !important;
  } /*1rem = 16px*/
  .h1-lg {
    font-size: 2.12rem;
    line-height: 1.2;
    font-weight: 200;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 2rem !important;
  } /*1rem = 16px*/
  .h1-lg {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 200;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1, .h1 {
    font-size: 2rem !important;
  } /*1rem = 16px*/
  .h1-lg {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 200;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem !important;
  } /*1rem = 16px*/
  .h1-lg {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 200;
  }
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh) !important;
}

.text-description {
  font-size: 1rem;
  line-height: 1.76;
  font-weight: 300;
}

pre {
  font-family: "akkurat", sans-serif !important;
  overflow: hidden !important;
}

// slick slider arrow
.slider-arrow {
  position: absolute;
  top: 45%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  background-color: rgba(30, 48, 100, .32);
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  text-align: center;
  transition: all .2s ease;

  &:hover {
    background-color: rgba(30, 48, 100, .6);
  }
  &:before {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
  }
}
.slider-prev {
  left: 20px;
  &:before {
    content: '\003c';
  }
}
.slider-next {
  right: 20px;
  &:before {
    content: '\003e';
  }
}

// Responsive Image and Video
.responsive-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

// Custom visible/hidden
.d-sxs-block {
  display: block !important;
}

.scrollspy-anchor {
  position: absolute;
  top: 0;
  height: 100%;
}

// Modal Class
.modal-container {
  & > div {
    z-index: 9999 !important;
  }
}

.modal-backdrop.show {
  opacity: .9 !important;
}

.modal {
  .modal-body {
    padding: 0;
  }
  &:after {
    position: absolute;
    left: 40px;
    top: 7%;
    -webkit-transform: translate3d(0, -50%, 0) rotate(45deg);
    transform: translate3d(0, -50%, 0) rotate(45deg);
    display: block;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 300;
    content: "+";
    color: white;
    cursor: pointer;
  }
  @media only screen and (max-width: 910px) {
    .modal-dialog {
      top: 8%;
    }
  }
}


// Swiper Carousel
.swiper-close {
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 2rem;
  border: 1px solid transparent;
  z-index: 1000;
  background: rgba(0,0,0,.2);
  border-radius: 50%;
  cursor: pointer;
  right: 20px;
  top: 30px;
  &:before {
    color: white;
    font-weight: 400;
  }
  &:hover {
    background: rgba(0,0,0,.7);
    border-color: hsla(0,0%,100%,.4);
  }
}
.slider-navigation {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  margin-top: 0;
  background: rgba(0,0,0,.2);
  z-index: 10;
  color: white;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: rgba(0,0,0,.7);
    border-color: hsla(0,0%,100%,.4);
  }
  &:focus {
    outline: none;
  }
}
.slider-navigation.prev {
  left: 20px;
}

.slider-navigation.next {
  right: 20px;
}

.swiper-pagination {
  > .swiper-pagination-bullet {
    background-color: white;
  }
}
.swiper-button-disabled {
  opacity: .4;
  &:hover {
    background: rgba(0,0,0,.2);
    border-color: unset;
  }
}

// Global Carousel on mobile view
@media only screen and (max-width: 768px) {
  .spot-wrap {
    .image {
      max-height: 220px;
    }
  }
  .tab-icon {
    bottom: 10px;
    right: 20px;
    background: white;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
  }
  .slider-navigation {
    width: 35px;
    height: 35px;
    font-size: 1.25rem;
  }
  .swiper-close {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 1.5rem;
    top: 10px;
    right: 10px;
  }
  .modal {
    &:after {
      left: 20px;
    }
  }
}

.mobile-section {
  .slick-dots {
    li {
      button:before {
        color: white;
      }
    }
    li.slick-active {
      button:before {
        color: white;
      }
    }
  }
}

// Datetime picker

.bootstrap-datetimepicker-widget {
  color: $alur-dark-grey;

  table td.active,
  table td.active:hover,
  table td span.active {
    background-color: $alur-light-blue;
  }

  .icon-arrow-left,
  .icon-arrow-right {
    border: none;
  }
}

.sticky-top {
  top: 0;
  z-index: 1000;
  width: 100%;
  opacity: 1 !important;
}

.show>.dropdown-menu {
  animation-name: e;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
